## Aufgabe 2

Finden Sie ein offenes Datenset und versuchen Sie mittels Python Fragen zu beantworten, Hypothesen zu belegen/widerlegen oder Daten zu visualisieren. Es müssen mindestens drei unterschiedliche Fragen, Hypothesen oder Visualisierungen sein. Erstellen
Sie dazu ein Jupyter Notebook (oder ein Python-Script) mit folgenden Abschnitten - im
Jupyter Notebook nutzen Sie bitte Markdownzellen für diese Dokumentation:

• Beschreibung des Datensets (150 - 300 Wörter)

• Fragestellungen (200 - 500 Wörter)

• Datenanalyse in Python mit Kommentaren was und warum Sie bestimmte Schritte
gemacht haben ggf. auch kurze Erläuterung der Ergebnisse

• Diskussion (150 - 300 Wörter)

## Beschreibung des Datasets

Zur Bearbeitung der Aufgabe wurde das Datensets „title.ratings.tsv.gz“ der IMDb Movie Database ausgewählt. Das vorliegende Dataset enthält Werte zu Ratings und den dazugehörigen Stimmen der Nutzer*innen zu den jeweiligen Artikeln.

## Fragestellungen
    
    1. Frage: Welches Medium enthält das höchste Rating?
    2. Frage: Wo liegt der Durchschnitt und Median des Rankings?
    3. Frage: Mit wie vielen Filmen liegt das Rating im Durchschnitt?

In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [5]:
url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
imdb = pd.read_csv(url, sep="\t")

# Der Parameter sep separiert die Werte durch Tabulatoren.

In [6]:
imdb

            tconst  averageRating  numVotes
0        tt0000001            5.7      1809
1        tt0000002            6.0       233
2        tt0000003            6.5      1560
3        tt0000004            6.1       152
4        tt0000005            6.2      2382
...            ...            ...       ...
1181022  tt9916682            5.6         5
1181023  tt9916690            6.6         5
1181024  tt9916720            5.3       127
1181025  tt9916766            7.1        17
1181026  tt9916778            7.5        31

[1181027 rows x 3 columns]

Zur Beantwortung der Fragen wird die vorliegende Tabelle verwendet. Da sich die Zahlen regelmäßig ändern, kann es passieren. dass andere Werte zur Zeit der Ausführungen vorlagen.

## Frage 1) Welches Medium enthält das höchste Ranking?

In [4]:
# Verteilung der Spalte
imdb ["averageRating"]

0          5.7
1          6.0
2          6.5
3          6.1
4          6.2
          ...
1180672    5.6
1180673    6.6
1180674    5.3
1180675    7.1
1180676    7.5
Name: averageRating, Length: 1180677, dtype: float64

In [5]:
# Sortierung der Ratings vom kleinsten zum größten.
imdb.averageRating.sort_values()

224160      1.0
830722      1.0
830723      1.0
735898      1.0
557534      1.0
           ...
938215     10.0
1060438    10.0
938216     10.0
583878     10.0
939238     10.0
Name: averageRating, Length: 1180677, dtype: float64

Mithilfe der Variable "sort_values" ist es möglich die averageratings nach der Größe ihres Wertes zu sortieren.

Anhand der vorherigen Sortierung lässt sich erkennen, dass mehrere Medien den Wert 10,0 als Rating besitzen.

In [6]:
hoch = imdb.averageRating.max()

def hoch(imdb):
    if imdb.averageRating == hoch:
        print(imdb.tconst.averageRating)
        return False

## Frage 2) In welchem Bereich liegt der Durchschnitt und Median der Rankings?

In [8]:
# Ermittlung des Durchschnitts
imdb.averageRating.mean()

6.922514370991911

An dem Ergebnis lässt sich erkennen, dass die Nutzer*innen das Ranking der IMDb im Durchschnitt 6,9 bewertet wird.

In [9]:
# Median (=Zentralwert)
imdb.averageRating.median()

7.1

Anhand des Medians lässt sich genau die Mitte der Rankingverteilung bestimmen. In unserem Fall liegt der Zentralwert bei 7.1

## Frage 3) Mit wie vielen Filmen liegt das Rating im Durchschnitt?

In [10]:
# Dies kann man mithilfe der Bestimmung des Durchschnitts erkennen
imdb.averageRating.mean()

6.922514370991911

In [11]:
# Zur Funktionalität wird das Ergebnis auf 6,93 aufgerundet.
gol = imdb["averageRating"]
dat = imdb

def gol(imdb):
    if imdb.averageRating > 6.93:
        print(dat)
        return True
    if imdb.averageRating < 6.93:
        return False

Anhand dieses Befehles können wir leichter herausfinden, welche Filme in unserem gewünschten Durchschnitt zu finden sind.

In [12]:
imdb.averageRating.describe()

count    1.180677e+06
mean     6.922514e+00
std      1.397094e+00
min      1.000000e+00
25%      6.200000e+00
50%      7.100000e+00
75%      7.900000e+00
max      1.000000e+01
Name: averageRating, dtype: float64

Mithilfe des Befehls "describe" können die wichtigsten Informationen wie der Median,Durchschnitt und die Anzahl der Datensätze bestimmt werden. Die Blockverteilung liefert einen begrenzt erkennbaren Überblick.

## Diskussion

Wie anfangs zu erkennen war, ist es möglich das Datenset mittels des Parameters sep in eine erste grobe Tabellenauswertung einzuordnen. Mit der Variable "sort_values" werden die Werte anhand ihrer Größe sortiert - vom kleinsten bis zum größten. Die Ergebnisse zeigen, dass das kleinste Ranking 1,0 beträgt, während das größte Ranking einen Wert von 10,0 zeigt. 

Mit den Faktoren "mean" und "median" lassen sich der Durchschnitts- und der Zentralwert des gesamten Datasets bestimmen. Der Befehl "describe" stellt die zentralen Fakten der Daten in einem Überblick zusammen.